
body {
  background-color: #FF7F00;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 15px;
}

img {
  border-color: red;
  border-width: medium;
  border-style: solid;
  border-radius: 25%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.4)
}

#name {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.footer {
  background: white;
  color: black
  border: 1px solid black;
  padding-left: 10px
}

p {
  color: blue;
  font-family: italic;
}

li {
  font-size: 25px;
  font-family: fantasy;
}
